.form{
    max-width: 0 auto;
    width: 60%;
  }
.form > input{
    padding: 18px 20px;
    border: solid 1px #E2E2E2;
    width: 70%;
    font-size: 18px;
  }
.form > button{
    border: none;
    outline: none;
    background-color: #124ACC;
    padding: 12px 20px;
    border-radius: 5px;
    color: #ffff;
    font-size: 18px;
  }